body *{
    font-family: "B Koodak","B Homa";
    direction: rtl;
    vertical-align: middle;

}
form div *{
    vertical-align: middle;
    margin: 1% 0;
}
.content-center{
    margin: 5% auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    box-shadow: 20px 20px 50px 10px rgba(51, 49, 49, 0.3);
}
.right-side{
    margin: 0 0 0 70%;
    box-shadow: 20px 20px 50px 10px rgba(51, 49, 49, 0.3);
    padding: 10px;
    vertical-align: middle;
}

.right-side.ticket{
    margin: 0 0 0 50%;
    box-shadow: 20px 20px 50px 10px rgba(51, 49, 49, 0.3);
    padding: 10px;
    vertical-align: middle;
}

.number{
    color: rgb(145, 145, 145);
}
.error{
    color: red;
    font-size: 1.5em;
}
.inline{
    display: inline;
}
.link:hover{
    color: #4e4eff;
    cursor: pointer;
}
span{
    color: rgb(255,0,0);

}

